<div class="container-fluid" style="background-color: #07555c;">
    <div class="default-padding-header">
     <div class="container">
        <div class="col-12 px-0">
        <h1 class="header1">Hi, {{userData?.firstName}}</h1>
        <p class="para">welcome to your account</p>
        </div>
    </div> 
    
</div>
</div>
<div class="profileoverlay">
    <div class="container">
        <div class="row">
            <div class="col-2 profileimage" >
                <div *ngIf="cardImageBase64; else elseTemplate" >
                <img [src]="cardImageBase64" alt="" width="150" class="profilepic" style="border-radius: 50%">
                </div>
               <ng-template #elseTemplate>
                 <img src="assets/images/user.svg" alt="" width="150" class="profilepic">
               </ng-template>
            </div>
           
            <div class="col-2 text-center">
                 <button class="file-upload-button">
                        <input type="file"  (change)="fileChangeEvent($event)" />
                        <img src="assets/images/edit.png" alt="" width="35">
                    </button>
            </div>
            <div class="col-4 p-0">
              
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="color:red">
            {{imageError}}
            </div>
        </div>
    </div>
</div>

<div class="default-padding-95">
    <div class="container">
        <div class="row">
             <div class="col-6">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"> User ID</li>
                    <li class="list-group-item">23200032</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="border-bottom:1px solid #707070;">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"> Referral ID</li>
                    <li class="list-group-item">
                          <input  type="text" [value]="userData?.referral" id="example-search-input"
                            class="form-control py-2 border-right-0 border">
                    </li>
                       <li class="list-group-item">
                           <button type="button" (click)="copyDynamicText()"
                            class="btn btn-primary mr-2">{{copystatus}}</button>
<button type="button"  (click)="shareDialog()" class="btn btn-secondary">Share 
      <img src="assets/images/share.svg" alt="" width="20"></button>
                       </li>
                </ul>
            </div>
      </div>
    </div>
</div>

<div class="default-padding-30">
    <div class="container">
        <div class="row">
         <div class="col-6">
        <h1 class="header1-black">Profile Details</h1>
            <div class="default-padding">
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <div class="form-row m-0">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">First Name</label>
                            <input type="email" class="form-control" id="inputEmail4" 
                            formControlName="firstName"
                            placeholder="First Name" [value]="userData?.firstName">
                             <div class="inputError" *ngIf="f.firstName.errors?.required && formSubmit">
                                        firstName Required!
                                    </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Last Name</label>
                            <input type="text" class="form-control" id="inputEmail4" 
                            formControlName="lastName"
                            placeholder="Last Name" [value]="userData?.lastName">
                              <div class="inputError" *ngIf="f.lastName.errors?.required && formSubmit">
                                        lastName Required!
                                    </div>
                        </div>
                    </div>
                     <div class="form-row m-0">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Phone</label>
                            <input type="text" class="form-control" id="inputEmail4" 
                              formControlName="mobile"
                            placeholder="Phone" [value]="userData?.mobile">
                             <div class="inputError" *ngIf="f.mobile.errors?.required && formSubmit">
                                        mobile Required!
                                    </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" 
                            readonly
                            placeholder="Email" [value]="userData?.email">
                        </div>
                    </div>
                
                 <div class=" mt-5">
                   <button type="submit" class="btn btn-primary mr-2 mr-5">Save Changes</button>
                    <button type="button" class="btn btn-default"  (click)="changepasswordshareDialog()">
                        <span style="color:#3ca063">Change Password </span></button>
                    </div>
                </form>
           </div>

         </div>
         <div class="col-6">
             <h1 class="header1-black">Personal Details</h1>
            <p class="para1">Bank Details</p>

              <form [formGroup]="personalDetailsForm" (ngSubmit)="onpersonalDetailsSubmit()">
             <div class="form-row m-0">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Account Name</label>
                    <input type="text" class="form-control" 
                    formControlName="accountName"
                    [value]="userData?.accountName"
                    id="inputEmail4" placeholder="">
                     <div class="inputError" *ngIf="g.accountName.errors?.required && form1Submit">
                                        Account Name Required!
                                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Account Number</label>
                    <input type="text" class="form-control"
                     formControlName="accountNumber"
                    [value]="userData?.accountNumber"
                    id="inputEmail4" placeholder="">
                    <div class="inputError" *ngIf="g.accountNumber.errors?.required && form1Submit">
                                        Account Number Required!
                                    </div>
                </div>
            </div>
             <div class="form-row m-0">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Bank</label>
                    <select class="form-control" 
                      formControlName="bankName"
                    [value]="userData?.bankName"
                    id="inputEmail4" placeholder="">
                        <option value="">Select</option>
                        <option value="Bank 1">Bank 1</option>
                        <option value="Bank 2">Bank 2</option>
                        </select>
<div class="inputError" *ngIf="g.bankName.errors?.required && form1Submit">
                                        Bank Name Required!
                                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">IFSC Code</label>
                    <input type="text" class="form-control"
                     formControlName="ifscCode"
                    [value]="userData?.ifscCode"
                    id="inputEmail4" placeholder="">
                    <div class="inputError" *ngIf="g.ifscCode.errors?.required && form1Submit">
                                        IFSC Code Required!
                                    </div>
                </div>
            </div>
              <p class="para1">Mobile Money Details</p>
              <div class="form-row m-0">
                   <div class="form-group col-md-6">
                    <label for="inputEmail4">Phone Number</label>
                    <input type="text" class="form-control"
                     formControlName="mobilemoneyphone"
                    [value]="userData?.mobilemoneyphone"
                    id="inputEmail4" placeholder="">
                   
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Platform</label>
                    <select class="form-control" id="inputEmail4"
                     formControlName="orangemoney">
                        <option value="">Select</option>
                        <option value="Mobile Money">Mobile Money</option>
                        <option value="MTN Mobile">MTN Mobile</option>
                        <option value="ORANGE Money">ORANGE Money</option>
                        </select>
                </div>
            </div>
               <p class="para1">Cryptocurrency Details</p>
                <div class="form-row m-0">
                   <div class="form-group col-md-12">
                    <label for="inputEmail4">Wallet Address</label>
                    <input type="text" class="form-control"
                      formControlName="wallet_address"
                    [value]="userData?.wallet_address"
                    id="inputEmail4" placeholder="">
                </div>
               
         </div>
           <div class=" mt-5 mb-5">
            <button type="submit" class="btn btn-primary mr-2">Save Changes</button>
            </div>
            </form>
    </div>
    </div>
</div>
