<div class="container-fluid" style="background-color: #07555c;">
    <div class="default-padding">
     <div class="container">
        <div class="col-12 px-0">
        <h1 class="header1">Hi, Michelle</h1>
        <p class="para">welcome to your back office</p>
        </div>
    </div> 
    
</div>
</div>
<div class="profileoverlay">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="assets/images/pic.png" alt="" width="150">
                <div class="editoverlay">
                    <img src="assets/images/edit.png" alt="" width="30">
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="name-title">Michelle Joseph</div>
            </div>
        </div>
    </div>
</div>

<div class="default-padding-95">
    <div class="container">
        <div class="row">
             <div class="col-6">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"> User ID</li>
                    <li class="list-group-item">23200032</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="border-bottom:1px solid #707070;">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"> Referral ID</li>
                    <li class="list-group-item">
                          <input _ngcontent-jsr-c156="" type="search" 
                            value="" id="example-search-input"
                            class="form-control py-2 border-right-0 border">
                    </li>
                       <li class="list-group-item">
                           <button type="button" class="btn btn-primary mr-2">Copy</button>
<button type="button" class="btn btn-secondary">Share </button>
                       </li>
                </ul>
            </div>
      </div>
    </div>
</div>

<div class="default-padding-50">
    <div class="container">
         <div class="col-6">
 <h1 class="header1-black">Profile Details</h1>
         </div>
         <div class="col-6">
             
         </div>
    </div>
</div>
