<div class="container-fluid" style="background-color: #07555c;">
    <div class="default-padding-header">
     <div class="container">
        <div class="col-12 px-0">
        <h1 class="header1">Hi, {{userData?.firstName}}</h1>
        <p class="para">welcome to your back office</p>
        </div>
    </div> 
    
</div>
</div>
<div class="profileoverlay">
    <div class="container">
        <div class="row">
            <div class="col-2 profileimage">
                <img src="assets/images/pic.png" alt="" width="150" class="profilepic">
            </div>
            <div class="col-2 text-center">
                 <button class="file-upload-button">
                        <input type="file" />
                        <img src="assets/images/edit.png" alt="" width="35">
                    </button>
            </div>
            <div class="col-4 p-0">
                <div class="name-title">{{userData?.firstName}} {{userData?.lastName}}</div>
            </div>
        </div>
    </div>
</div>

<div class="default-padding-95">
    <div class="container">
        <div class="row">
             <div class="col-6">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"> User ID</li>
                    <li class="list-group-item">23200032</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="border-bottom:1px solid #707070;">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"> Referral ID</li>
                    <li class="list-group-item">
                          <input  type="text" disabled [value]="userData?.referral" id="example-search-input"
                            class="form-control py-2 border-right-0 border">
                    </li>
                       <li class="list-group-item">
                           <button type="button" class="btn btn-primary mr-2">Copy</button>
<button type="button"  (click)="shareDialog()" class="btn btn-secondary">Share </button>
                       </li>
                </ul>
            </div>
      </div>
    </div>
</div>

<div class="default-padding-30">
    <div class="container">
        <div class="row">
         <div class="col-6">
        <h1 class="header1-black">Profile Details</h1>
            <div class="default-padding">
                    <div class="form-row m-0">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">First Name</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="First Name" [value]="userData?.firstName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Last Name</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Last Name" [value]="userData?.lastName">
                        </div>
                    </div>
                     <div class="form-row m-0">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Phone</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Phone" [value]="userData?.mobile">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" [value]="userData?.email">
                        </div>
                    </div>
                <div class="form-row m-0">
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Confirm Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                </div>
                   <button type="button" class="btn btn-primary mr-2">Save Changes</button>
                    <button type="button" class="btn btn-default">Change Password </button>
               
           </div>

         </div>
         <div class="col-6">
             <h1 class="header1-black">Personal Details</h1>
            <p class="para1">Bank Details</p>
             <div class="form-row m-0">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Account Name</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Account Number</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="">
                </div>
            </div>
             <div class="form-row m-0">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Bank</label>
                    <select class="form-control" id="inputEmail4" placeholder="">
                        <option value="">Select</option>
                        </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">IFSC Number</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="">
                </div>
            </div>
              <p class="para1">Mobile Money Details</p>
              <div class="form-row m-0">
                   <div class="form-group col-md-6">
                    <label for="inputEmail4">Phone Number</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Orange Money</label>
                    <select class="form-control" id="inputEmail4" placeholder="">
                        <option value="">Select</option>
                        </select>
                </div>
            </div>
               <p class="para1">Cryptocurrency Details</p>
                <div class="form-row m-0">
                   <div class="form-group col-md-12">
                    <label for="inputEmail4">Wallet Address</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="">
                </div>
               
         </div>
            <button type="button" class="btn btn-primary mr-2">Save Changes</button>
    </div>
    </div>
</div>
