<div class="container-fluid" id="about" style="background-color: #fff;">
    <div class="default-padding">
        <div class="container-md">
            <div class="row">
                <div class="col-5 px-0">
                    <h2 class="header1">ONE OF A <br />KIND DISCOUNT <br />& PAYMENT CARD.</h2>
                    <p class="para">
                        Bridging the gap between the business people and customers, it gives an easy traceability for customers to identify business offering the best discounts for their products and services and also services as a payment solution such bill payments , money
                        transfer,
                    </p>

                </div>
                <div class="col-1 px-0"></div>
                <div class="col-6 px-0">
                    <img src="assets/images/about.jpg" alt="" class="img-fluid">
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="pricing" style="background-color: #ffffff;">
    <div class="default-padding">
        <div class="container-md">

            <div class="row partnertop">
                <div class="col-md-6 leftcard">
                    <div class="card mb-4 parterslist">
                        <img class="card-img-top" src="assets/images/about2.jpg">
                        <div class="card-body parterslistbody">
                            <p class="card-text">Vision
                            </p>
                            <div class="">
                                <p class="subpara">Transforming e-commerce and digital payments using Networking marketing and discounts.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 rightcard">
                    <div class="card mb-4 parterslist">
                        <img class="card-img-top" src="assets/images/about3.jpg">
                        <div class="card-body parterslistbody">
                            <p class="card-text">Mission
                            </p>
                            <div class="">
                                <p class="subpara">Use technology to create innovative and transformative solutions to grow business and make the customers enjoy.</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="pricing" style="background-color: #ffffff;">
    <div class="default-padding1">
        <div class="container-md">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="greenteam">THE GREEN TEAM</div>
                    <p class="subpara1">Green Discount Card is a product of Creativ Group Africa Sarl, a tech company build from Bangalore India to Cameroon with the aim to use technology to Create, Innovate and grow businesses.</p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="pricing" style="background-color: #ffffff;">
    <div class="default-padding1">
        <div class="container-md">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="img-box">
                        <img src="assets/images/t1.png" class="leaderimg">
                    </div>
                    <h1 class="leadername">Cho Rim Che</h1>
                    <h2 class="leaderdesi">CEO</h2>
                </div>
                <div class="col-md-4 text-center">
                    <div class="img-box">
                        <img src="assets/images/t2.png" class="leaderimg">
                    </div>
                    <h1 class="leadername">Doris Bekeri </h1>
                    <h2 class="leaderdesi">Head of Finance</h2>
                </div>
                <div class="col-md-4 text-center">
                    <div class="img-box">
                        <img src="assets/images/t3.png" class="leaderimg">
                    </div>
                    <h1 class="leadername">Kelly FONBUNRI </h1>
                    <h2 class="leaderdesi"></h2>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-md-4 text-center">
                    <div class="img-box">
                        <img src="assets/images/t4.png" class="leaderimg">
                    </div>
                    <h1 class="leadername">Mimdiamgwi Clovis Yangshe</h1>
                    <h2 class="leaderdesi">Head of marketing, Douala</h2>
                </div>
                <div class="col-md-4 text-center">
                    <div class="img-box">
                        <img src="assets/images/t5.png" class="leaderimg">
                    </div>
                    <h1 class="leadername">Ryan Desmond Ndoh</h1>
                    <h2 class="leaderdesi">Head of marketing</h2>
                </div>
                <div class="col-md-4 text-center">
                    <div class="img-box">
                        <img src="assets/images/t6.png" class="leaderimg">
                    </div>
                    <h1 class="leadername">Luther Onono </h1>
                    <h2 class="leaderdesi">System admin</h2>
                </div>
            </div>
        </div>
    </div>
</div>