    .header1 {
        font-family: FontAwesome5Free !important;
        font-size: 48px;
        line-height: 60px;
        color: #414141;
        padding-top: 93px;
    }
    
    .default-padding {
        padding-top: 85px;
    }
    
    .default-padding1 {
        padding-top: 85px;
        padding-bottom: 1px;
    }
    
    .parterslistbody {
        padding: 45px 0;
    }
    
    .parterslistbody .card-text {
        color: #3ca063;
        font-size: 25px;
        font-weight: 500;
    }
    
    .parterslist {
        border: none;
    }
    
    .partnertop .leftcard {
        padding-left: 0px;
        padding-right: 40px;
    }
    
    .partnertop .rightcard {
        padding-left: 40px;
        padding-right: 0px;
    }
    
    .greenteam {
        color: #3ca063;
        font-family: Poppins;
        text-align: center;
        font-size: 29px;
        font-weight: bold;
    }
    
    .subpara1 {
        text-align: center;
        padding-top: 31px;
    }
    
    .leaderimg {
        border-radius: 221px;
        width: 200px;
    }
    
    .leadername {
        margin-top: 14px;
        margin-bottom: 4px;
        font-weight: 500;
    }
    
    .leaderdesi {
        font-size: 16px;
        line-height: 11px;
        font-weight: 400;
        text-align: center;
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        .col-5 {
            max-width: 100%;
        }
        .header1 {
            font-family: FontAwesome5Free !important;
            font-size: 48px;
            line-height: 60px;
            color: #414141;
            padding-top: 31px;
        }
        .container-fluid {
            padding-right: 62px;
            padding-left: 76px;
        }
        .partnertop .rightcard {
            padding-left: 0;
            padding-right: 41px;
        }
        .container-fluid {
            padding-right: 20px;
            padding-left: 20px;
        }
        .oneofa .col-5 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .header1 {
            font-family: FontAwesome5Free !important;
            font-size: 42px;
            line-height: 50px;
            color: #414141;
            padding-top: 31px;
        }
    }
    
    @media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
        .col-5 {
            max-width: 100%;
        }
        .header1 {
            font-family: FontAwesome5Free !important;
            font-size: 48px;
            line-height: 60px;
            color: #414141;
            padding-top: 31px;
        }
        .container-fluid {
            padding-right: 62px;
            padding-left: 76px;
        }
        .partnertop .rightcard {
            padding-left: 0;
            padding-right: 41px;
        }
        .container-fluid {
            padding-right: 20px;
            padding-left: 20px;
        }
        .oneofa .col-5 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .header1 {
            font-family: FontAwesome5Free !important;
            font-size: 42px;
            line-height: 50px;
            color: #414141;
            padding-top: 31px;
        }
    }
    
    @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {}
    
    @media only screen and (min-device-width: 1200px) and (max-device-width: 1400px) {
        .container-md {
            max-width: 1047px !important;
        }
        .header1 {
            font-family: FontAwesome5Free !important;
            font-size: 37px;
            line-height: 60px;
            color: #414141;
            padding-top: 65px;
        }
    }