.header1 {
    font-family: FontAwesome5Free !important;
    font-size: 48px;
    line-height: 60px;
    color: #414141;
    padding-top: 93px;
}

.default-padding {
    padding-top: 85px;
}

.default-padding1 {
    padding-top: 85px;
    padding-bottom: 185px;
}

.parterslistbody {
    padding: 45px 0;
}

.parterslistbody .card-text {
    color: #3ca063;
    font-size: 25px;
    font-weight: 500;
}

.parterslist {
    border: none;
}

.partnertop .leftcard {
    padding-left: 0px;
    padding-right: 40px;
}

.partnertop .rightcard {
    padding-left: 40px;
    padding-right: 0px;
}

.greenteam {
    color: #3ca063;
    font-family: Poppins;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
}

.subpara1 {
    text-align: center;
    padding-top: 31px;
}