

<div class="padding-all">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="header1">Share Referral Code</h1>

        <share-button
            [button]="'facebook'"
            [url]="'http://localhost:4200/register/M6OODQIZ'"
            [autoSetMeta]="false"
            >
        </share-button>

        <share-button 
        [button]="'twitter'"

        [url]="'http://localhost:4200/register/M6OODQIZ'"
        [autoSetMeta]="false" 
        ></share-button>
        <share-button 
        [button]="'linkedin'"

        [url]="'http://localhost:4200/register/M6OODQIZ'"
        [autoSetMeta]="false"
        ></share-button>
        <share-button 
        [button]="'whatsapp'"

        [url]="'http://localhost:4200/register/M6OODQIZ'"
        [autoSetMeta]="false"
        ></share-button>

       

                    
        </div>
    </div>
</div>
</div>
<div class="default-padding">
    <div class="container text-right">
               
                <button mat-button mat-dialog-close class="btn btn-default
                                ">Cancel</button>
    </div>
</div>

