

<div class="padding-all">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="header1">Share Referral Code</h1>

            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">
                  <a class="btn btn-medium center-content color-black color-black radius3 bg-white" socialshare="" 
                  socialshare-provider="whatsapp" socialshare-text="Share Text here"

                   socialshare-url="http://localhost:4200/register"
                    href="whatsapp://send?text=http://localhost:4200/register/M6OODQIZ" 
                    target="_blank">
                    <img src="assets/images/social/whatsapp.jpg" alt="" width="80">  
                    </a>
                    <br />
                   <div> Whatsapp</div>
                </li>
                <li class="list-group-item">
                    <img src="assets/images/social/gmail.jpg" alt="" width="80">  
                    <br />
                    Gmail
                </li>
                <li class="list-group-item">

                    <a class="btn btn-medium center-content color-black radius3 bg-white"
                     socialshare="" socialshare-provider="google" socialshare-url="http://localhost:4200/register">
                        <img src="assets/images/social/gplus.jpg" alt="" width="80">  
                    </a>
          
                    <br />
                    Google+
                </li>
                <li class="list-group-item">
                    <img src="assets/images/social/in.jpg" alt="" width="80">  
                    <br />
                    LinkedIn
                </li>
                <li class="list-group-item">
                    <img src="assets/images/social/twitter.jpg" alt="" width="80">  
                    <br />
                    Twitter
                </li>

              <li>
                  <a class="btn btn-medium center-content color-black radius3 bg-white" socialshare="" socialshare-provider="google" socialshare-url="http://720kb.net">
           <i class="fa fa-google-plus"></i>  Google +
         </a>
              </li>

                </ul>
                    
        </div>
    </div>
</div>
</div>
<div class="default-padding">
    <div class="container text-right">
               
                <button mat-button mat-dialog-close class="btn btn-default
                                ">Cancel</button>
    </div>
</div>

