<div class="container-fluid" id="about" style="background-color: #fff;">
    <div class="default-padding">
        <div class="container-md">
            <div class="row" id="GreenCardPay">
                <div class="col-5 px-0">
                    <img src="assets/images/about.jpg" alt="" class="img-fluid">
                </div>

                <div class="col-1 px-0"></div>
                <div class="col-5 px-0 default-padding-top">
                    <div class="greenteam">GreenCard Pay</div>
                    <h2 class="header1">Pay (Pay & accept payments, Pay bills, Pay banks , pay transfer)</h2>
                    <p class="para">
                        Card to card payments Card to Bill payments,Flight , bus , Train , Taxi etc Card to & back from Banks Card to Insurance Card to Services
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="about" style="background-color: #f7f7f7;">
    <div class="default-padding">
        <div class="container-md">
            <div class="row" id="GreenCardNetworkMarketing">
                <div class="col-4 px-0 default-padding-top">
                    <div class="greenteam">GreenCard Network Marketing
                    </div>
                    <h2 class="header1">Direct referral payments, Network points, Accumulated bonuses.</h2>


                </div>

                <div class="col-2 px-0"></div>
                <div class="col-4 px-0">
                    <img src="assets/images/res1.png" alt="" class="img-fluid" style="width: 72%;">
                </div>


            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="about" style="background-color: #ffff;">
    <div class="default-padding">
        <div class="container-md">
            <div class="row" id="GreenCardStore">

                <div class="col-4 px-0">

                </div>


                <div class="col-2 px-0"></div>

                <div class="col-4 px-0 default-padding-top">
                    <div class="greenteam">GreenCard Store
                    </div>
                    <h2 class="header1">E-Commerce, Services , Recommended Restaurants , Hotels etc.</h2>


                </div>

            </div>
        </div>
    </div>
</div>