.default-padding {
    padding-top: 85px;
    padding-bottom: 85px;
}

.greenteam {
    color: #3ca063;
    font-family: Poppins;
    text-align: left;
    font-size: 29px;
    font-weight: bold;
    padding-bottom: 30px;
    line-height: 37px;
}

.default-padding-top {
    padding-top: 80px;
}