

<div class="padding-all">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="header1">Change Password</h1>
             <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-row m-0">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Current Password</label>
                            <input type="password" class="form-control" id="inputEmail4" 
                            formControlName="old_password"
                            placeholder="">
                             <div class="inputError" *ngIf="f.old_password.errors?.required && formSubmit">
                                        Current Password Required!
                                    </div>
                        </div>
                    </div>
                    <div class="form-row m-0">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">New Password</label>
                            <input type="password" class="form-control" id="inputEmail4" 
                            formControlName="new_password"
                            placeholder="">
                             <div class="inputError" *ngIf="f.new_password.errors?.required && formSubmit">
                                        New Password Required!
                                    </div>
                        </div>
                    </div>
                     <div class="form-row m-0">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Confirm New Password</label>
                            <input type="password" class="form-control" id="inputEmail4" 
                            formControlName="confirm_new_password"
                            placeholder="">
                             <div class="inputError" *ngIf="f.confirm_new_password.errors?.required && formSubmit">
                                       Confirm Password Required!
                                    </div>
                        </div>
                    </div>
                
                 <div class=" mt-5">
                   <button type="submit" class="btn btn-primary mr-2 mr-5">Update</button>
                     <button mat-button mat-dialog-close class="btn btn-default
                                ">Cancel</button>
                    </div>
                </form>
        

       </div>
    </div>
</div>
</div>


