body {
    font-family: Poppins !important;
    background-color: #fff !important;
}
.errorSec {
    color: red;
}
.successSec {
    color: rgb(10, 119, 19);
}
.align-items-center {
    align-items: start !important;
}
.padding-default {
    padding-left: 50px;
}
.default-padding {
    padding-top: 30px;
}
.header1 {
    font-size: 32px;
    font-weight: bold;
}
.para1 {
    font-size: 16px;
}
label {
    font-size: 16px;
    font-weight: 500;
}
input::placeholder {
    font-size: 12px;
}
.btn-primary {
    background-color: #3ca063;
    border: 1px solid #3ca063;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 300;
}
.align-items-center {
    background-color: #fff;
}

@media only screen and (max-device-width: 767px) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .col-12 {
        padding: 0;
    }
    .margin-bottom {
        padding-bottom: 27px !important;
    }
    .loginscreen {
        display: none;
    }
    .padding-default {
        padding-left: 10px;
        padding-right: 10px;
    }

    .p-5 {
        padding: 1rem !important;
    }

    .collapse:not(.show) {
        display: block;
    }
    .Upgradecardborder .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .Upgradecardborder .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .Upgradecardborder .col-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .Upgradecardborder .col-2 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .col-12 {
        padding: 0;
    }
    .margin-bottom {
        padding-bottom: 27px !important;
    }
    .loginscreen {
        display: none;
    }
    .padding-default {
        padding-left: 10px;
        padding-right: 10px;
    }

    .p-5 {
        padding: 1rem !important;
    }

    .collapse:not(.show) {
        display: block;
    }
    .Upgradecardborder .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .Upgradecardborder .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .Upgradecardborder .col-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .Upgradecardborder .col-2 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .padding-default {
        padding-left: 10px;
        padding-right: 10px;
    }

    .p-5 {
        padding: 1rem !important;
    }

    .collapse:not(.show) {
        display: block;
    }
    .Upgradecardborder .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .Upgradecardborder .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .Upgradecardborder .col-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .Upgradecardborder .col-2 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
}
