<div style="background-color: #fff;">
    <div class="container-fluid" style="background-color: #006843;">
        <div class="default-padding">
            <div class="container-md">
                <div class="row">
                    <div class="col-4">
                        <img class="" src="assets/images/GreenCard.png" width="200">
                    </div>
                    <div class="col-4">
                        <ul class="list-unstyled">
                            <li class=""><strong>HELP LINKS</strong></li>
                            <li>Terms and conditions</li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="">Contact Support</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul class="list-unstyled">
                            <li><strong>SOCIAL MEDIA</strong></li>
                            <li><a href="https://www.facebook.com/Green-Card-109698907873773/" target="_blank">Facebook</a></li>
                            <li><a href="https://www.instagram.com/greencard4discount/" target="_blank">Instagram</a></li>
                            <li><a href="https://twitter.com/greendiscount_c" target="_blank">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>