<div style="background-color: #fff;">
<div class="container-fluid headerbg1" style="background-color: #39484d;">
             <div class="default-padding">
                 <div class="container-md">
                    <div class="row">
                        <div class="col-4">
                            <img class="" src="assets/images/logo-lite.png" width="200">   
                        </div>
                        <div class="col-4">
                            <ul class="list-unstyled">
                                <li class=""><strong>HELP LINKS</strong></li>
                                <li>Terms and conditions</li>
                                <li>About Us</li>
                                <li>Contact Support</li>
                            </ul>
                        </div>
                        <div class="col-4">
                             <ul class="list-unstyled">
                                <li><strong>SOCIAL MEDIA</strong></li>
                                <li>LinkedIn</li>
                                <li>Instagram</li>
                                <li>Twitter</li>
                            </ul>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        </div>