<div class="container-fluid" id="pricing" style="background-color: #ffffff;">
    <div class="default-padding">
        <div class="container-md">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="greenteam">GREEN PARTNERS</div>
                    <p class="subpara1">Transforming e-commerce and digital payments using Networking marketing and discounts.</p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="pricing" style="background-color: #ffffff;">
    <div class="default-padding1">
        <div class="container-md">
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <input type="text" name="partner" placeholder="Search partner" formControlName="partner" class="form-control" /></div>
                    <div class="col-md-3">

                        <select name="category" formControlName="category" class="form-control">
                            <option value="">Choose Category</option>
                            <option value="Hospitals">Hospitals</option>
                            <option value="Restaurants">Restaurants</option>
                            <option value="Hotels & Apartments">Hotels &
                                Apartments</option>
                            <option value="Supermarkets">Supermarkets</option>
                            <option value="HyperMarkets">HyperMarkets</option>
                            <option value="Boutiques">Boutiques</option>
                            <option value="Cosmetic Shops">Cosmetic Shops</option>
                            <option value="Auto Driving Schools">Auto Driving
                                Schools</option>
                            <option value="Schools">Schools</option>
                            <option value="Training Centre">Training Centre</option>
                            <option value="Universities">Universities</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="type" class="form-control" formControlName="type">
                            <option value="">Type</option>
                            <option value="Discount partners">Discount Partners</option>
                            <option value="Distributor Partners">Distributor
                                Partners</option>
                            <option value="Payment Partners">Payment Partners</option>
                            <option value="Ambassadors">Ambassadors</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button name="submit" name="submit" class="btn
                            btn-success">Search</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<div class="container-fluid" id="pricing" style="background-color: #ffffff;">
    <div class="default-padding2">
        <div class="container-md">
            <div class="row partnertop">

                <div class="col-md-4" *ngFor="let partner of partners">
                    <div class="card mb-4 parterslist">
                        <img class="card-img-top" src="{{partner?.photo}}">
                        <div class="percentlable">
                            <div class="percenttext">
                                {{partner?.percentage}} %
                            </div>
                        </div>
                        <div class="card-body parterslistbody">
                            <p class="card-text">{{partner?.name}}
                            </p>
                            <div class="">
                                <p class="subpara">{{partner?.phoneNumber}}</p>
                                <p class="subpara">{{partner?.address}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" *ngIf="errorMsg != ''">
                    <div class="card mb-4">{{errorMsg}}</div>
                </div>



            </div>


            <!--div class="row">
                <div class="col-md-12">
                    <div class="viewpartners"><a href="#">Load More</a></div>
                </div>
            </div-->

        </div>
    </div>
</div>