<div class="container-fluid" id="pricing" style="background-color: #ffffff;">
    <div class="default-padding">
        <div class="container-md">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="greenteam">GREEN PARTNERS</div>
                    <p class="subpara1">Transforming e-commerce and digital payments using Networking marketing and discounts.</p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="pricing" style="background-color: #ffffff;">
    <div class="default-padding1">
        <div class="container-md">
            <form>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3"><input type="text" name="partner" placeholder="Search partner" class="form-control" /></div>
                    <div class="col-md-3">

                        <select name="partner" placeholder="Search partner" class="form-control">
                            <option value="">Choose Category</option>
                            <option value="1">Health & Wellness
                                Products</option>
                            <option value="2">Fashion Accessories
                                & Clothing</option>
                            <option value="3">Living Essentials
                                Commodities</option>

                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="partner" placeholder="Search partner" class="form-control">
                            <option value="">Type</option>
                            <option value="1">Type1</option>
                            <option value="2">Type2</option>
                            <option value="3">Type3</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button name="submit" name="submit" class="btn
                            btn-success">Search</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<div class="container-fluid" id="pricing" style="background-color: #ffffff;">
    <div class="default-padding2">
        <div class="container-md">
            <div class="row partnertop">
                <div class="col-md-4">
                    <div class="card mb-4 parterslist">
                        <img class="card-img-top" src="assets/images/b1.jpg">
                        <div class="card-body parterslistbody">
                            <p class="card-text">Health & Wellness Products
                            </p>
                            <div class="">
                                <p class="subpara">+255 34234 2323</p>
                                <p class="subpara">42 Bam Street, Douala, CMR</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 parterslist">
                        <img class="card-img-top" src="assets/images/b2.jpg">
                        <div class="card-body parterslistbody">
                            <p class="card-text">Fashion Accessories & Clothing
                            </p>
                            <div class="">
                                <p class="subpara">+255 34234 2323</p>
                                <p class="subpara">42 Bam Street, Douala, CMR</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 parterslist">
                        <img class="card-img-top" src="assets/images/b3.jpg">
                        <div class="card-body parterslistbody">
                            <p class="card-text">Living Essentials Commodities
                            </p>
                            <div class="">
                                <p class="subpara">+255 34234 2323</p>
                                <p class="subpara">42 Bam Street, Douala, CMR</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="viewpartners"><a href="#">Load More</a></div>
                </div>
            </div>

        </div>
    </div>
</div>