.navbar {
    background: #cfe3d7;
    padding: 1.5rem 6rem;
}
#example-search-input {
    height: 46px;
    border-radius: 7px 0 0 7px;
}
.nav-link {
    color: #000;
    font-family: Poppins !important;
    font-size: 16px;
    font-weight: 600;
}
.mat-menu-panel {
    min-width: 177px !important;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 2.5rem;
    }
}
