.header1 {
    font-weight: bold;
}
.header2 {
    font-size: 18px;
}
.Upgradecardborder {
    border: 2px solid #3ca063;
}
.u-title-sm {
    color: #000;
    font-size: 11px;
}
.u-title-lg {
    color: #07555c;
    font-size: 14px;
    font-weight: bold;
}
.upgrade1 {
    padding: 14px;
    text-align: center;
}
.upgrade2 {
    padding: 24px 14px;
}
.upgrade3 {
    text-align: center;
    padding: 24px 14px;
    font-weight: bold;
}
.default-padding {
    padding-top: 25px;
}

.card-1-button {
    padding: 13px 36px 14px 28px;
    font-size: 13px;
    background-color: #3ca063;
}

.cancelbutton {
    float: right;
    position: relative;
    right: -11px;
    top: -11px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .header1 {
        font-size: 18px;
    }
    .cancelbutton {
        float: right;
        position: relative;
        right: -11px;
        top: -13px;
    }
    .padding-all {
        padding: 0px;
    }
    .container {
        padding: 0;
        margin: 0;
    }
    .row {
        padding: 0;
        margin: 0;
    }
    .col-12 {
        padding: 0;
        margin: 0;
    }
    .table-responsive {
        padding-bottom: 10px;
    }
    .table-responsive th {
        font-size: 10px;
        line-height: 10px;
    }
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
}
