<div class="padding-all">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="header1">Withdraw Request</h1>
                    <table class="table">
                <thead>
                    <tr>
                  
                    <th scope="col">Point Aquired</th>
                    <th scope="col">Min Points Needed</th>
                    <th scope="col">Amount being redeemed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                   
                    <td>500</td>
                    <td>400</td>
                    <td>
                        <input type="text" class="form-control col-6" value="$ 400" />
                        </td>
                    </tr>
                    <tr>
                    
                </tbody>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">Bank Transfer</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Mobile Money</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Cryptocurrency</label>
            </div>
        </div>
    </div>
</div>
</div>
<div class="default-padding">
    <div class="container text-right">
                <button type="button" class="btn btn-primary
                                card-1-button mr-5">Request</button>
                <button mat-button mat-dialog-close class="btn btn-default
                                ">Cancel</button>
    </div>
</div>

