   <div  style="float: right;" class="cancelbutton" mat-dialog-close><img src="assets/images/cancel.svg" width="20" /></div>
<form [formGroup]="userPointsminForm" (ngSubmit)="SubmitForm()">
<div class="padding-all">
  
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="header1">Withdraw Request</h1>
                    <table class="table table-responsive">
                <thead>
                    <tr>
                  
                    <th scope="col">Point Aquired</th>
                    <th scope="col">Min Points Needed</th>
                    <th scope="col">Points being redeemed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                   
                    <td>{{(leftVolumePoints+rightVolumePoints) - withdrawpoints}}</td>
                    <td>{{points_to_min}}</td>
                    <td>
                        <input type="text" class="form-control col-8"
                        formControlName="redeemedpoints" placeholder="Enter Points"
                        value="" />
                         <div class="inputError" *ngIf="h.redeemedpoints.errors?.required && formSubmit">
                                        Required!
                                    </div>
                                      <div class="inputError" *ngIf="h.redeemedpoints.errors?.minLength">
                                        min Points Required!
                                    </div>
                        </td>
                    </tr>
                    <tr>
                    
                </tbody>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="transfertype" checked
                value="Bank Transfer"
                 formControlName="transfertype" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">Bank Transfer</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="transfertype" 
                value="Mobile Money"
                 formControlName="transfertype" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Mobile Money</label>
            </div>
            
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3" name="transfertype" 
                value="Cryptocurrency" 
                 formControlName="transfertype" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline3">Cryptocurrency</label>
            </div>
        </div>
    </div>
    
</div>

</div>


  
    

<div class="default-padding">
    <div class="row">
        <div class="col-6">
            <h1 class="header2">Note: 1 Point = {{points_value}} XAF</h1>
         </div>
         <div class="col-6">
                <button type="submit" name="submit" class="btn btn-primary
                                card-1-button mr-5">Request</button>
                <button mat-button mat-dialog-close class="btn btn-default
                                ">Cancel</button>
         </div>
    </div>
</div>
</form>

