<section>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Phone Number</label>
                <input type="text" class="form-control" formControlName="mobile" id="inputEmail4" placeholder="">

            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Operator</label>
                <select class="form-control" id="inputEmail4" formControlName="operator">
                    <option value="">Select</option>
                    <option *ngFor="let pay of paymentOptions" [value]="pay?.value">{{pay?.name}}</option>
                </select>
            </div>
        </div>

        <div class="default-padding">
            <div class="container text-right">
                <button type="submit" name="submit" class="btn btn-primary card-1-button mr-5" [disabled]="myForm.invalid" >Proceed</button>
                <button mat-button mat-dialog-close class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
</section>