<div class="container-fluid" style="background-color: #07555c;">
    <div class="default-padding">
     <div class="container">
        <div class="col-12 px-0">
        <h1 class="header1">Binary Tree</h1>
       
        </div>
    </div> 
    </div> 
    </div> 
    <div class="container-fluid" style="background-color: #f2f5f9;">
       
        <div class="container">
            <div class="row">
            <div class="col-2 px-0">
                   <h2 class="header2-dart pt-4">Network</h2>
            <ul class="list-unstyled card-columns">
                <li class="list-group-item col-12">
                    <div class="para-num">{{connections}}</div> 
                 <div class="para-small">Connections</div>
                </li>
                <li class="list-group-item col-12">
                    <div class="para-num">{{leftVolumePoints}}</div> 
                
                    <div class="para-small">Left Volume Points</div>
                </li>
                <li class="list-group-item col-12">
                    <div class="para-num">{{rightVolumePoints}} <br /> <div class="para-small">Right Volume Points</div></div> 
                
                </li>
                </ul>
                 <ul class="list-unstyled card-columns">
                <li class="list-group-item col-12">
                    <div class="para-num">{{leftVolumePoints + rightVolumePoints}}</div> 
                
                    <div class="para-small">Total Volume Points</div>
                </li>
                <li class="list-group-item col-12">
                    <div class="para-num">XAF {{leftVolumeamount + rightVolumeamount }}  
                        <div class="para-small">Pay Volume Accumulated</div></div> 
                </li>
                <li class="list-group-item col-12"></li>
            </ul>
             
            <button type="button"  class="btn btn-primary card-1-button">Goto Accounts</button>
            <br /><br />

            </div>
            <div class="col-10 px-0">
                <div class="row desktopview">
                    <div class="col-12 px-0">
                    <div class="card-overlay-thumb">
                    
                    <div class="card">
                        <div class="card-body card-network">
                        <div class="col-12 text-center">
                            <div class="btn btn-primary">
                                <span class="dot">{{pendingNetworks?.length}}</span>
                                Pending Referrals 
                            </div>
                        </div>
                        
                            <div class="tree mt-5">
                                <ul>
                                    <li>
                                        <div class="family">
                                           
                                                 <div class="person female">
                                                    <div class="">
                                                        <div class="card text-center">
                                                            <div class="card-body cardpadding">
                                                                <img src="assets/images/user.svg" alt="" 
                                                                     class="img-fluid useroverly" width="50" >
                                                                <h5 class="header5 pt-3">{{mainNetwork?.firstName}} {{mainNetwork?.lastName}}</h5>
                                                                <div class="para5">Business Card</div>
                                                            </div>
                                                            <div class="card-footer text-muted p-2 left-footer">
                                                            </div>
                                                            </div>
                                                            <div class="footericons row pt-1">
                                                                <div class="col-6">
                                                                    <img *ngIf="(networks | legside: 'left': mainNetwork?._id)" src="assets/images/arrow.svg"
                                                                    alt="" class="img-fluid lefticon" width="30" >
                                                                    <img *ngIf="!(networks | legside: 'left': mainNetwork?._id)" src="assets/images/plus.svg" [matMenuTriggerFor]="menuLeft" 
                                                                    alt="" class="img-fluid righticon" width="30" >
                                                                </div>
                                                                <div class="col-6">
                                                                    <img *ngIf="(networks | legside: 'right': mainNetwork?._id)" src="assets/images/arrow.svg"
                                                                    alt="" class="img-fluid lefticon" width="30" >
                                                                    <img *ngIf="!(networks | legside: 'right': mainNetwork?._id)" src="assets/images/plus.svg" [matMenuTriggerFor]="menuRight" 
                                                                    alt="" class="img-fluid righticon" width="30" >
                                                                </div>

                                                            </div>
                                                            <mat-menu #menuLeft="matMenu">
                                                                <div *ngFor="let pn of pendingNetworks">
                                                                <button  mat-menu-item (click)="addLeg(mainNetwork, pn, 'left')">
                                                                    <img src="assets/images/plus1.svg"  class="img-fluid" width="15" > 
                                                                    <span> add {{pn.firstName}} {{pn.lastName}} to left</span>
                                                                </button>
                                                                </div>
                                                            </mat-menu>
                                                            <mat-menu #menuRight="matMenu">
                                                                <div *ngFor="let pn of pendingNetworks">
                                                                <button  mat-menu-item (click)="addLeg(mainNetwork, pn, 'right')">
                                                                    <img src="assets/images/plus1.svg"  class="img-fluid" width="15" > 
                                                                    <span> add {{pn.firstName}} {{pn.lastName}} to right</span>
                                                                </button>
                                                                </div>
                                                            </mat-menu>

                                                    </div>
                                                </div>
                                                <ul>
                                                   <li *ngFor="let network of networks">
                                                    <div class="family" style="width: 172px">
                                                        <div class="person child male">
                                                          <div class="">
                                                            <div class="card text-center">
                                                            <div class="card-body cardpadding">
                                                                <img src="assets/images/user.svg" alt="" style="cursor: pointer;" (click)="getSelectedNetwork(network)"
                                                                     class="img-fluid useroverly" width="50" >
                                                                <h5 class="header5 pt-3">{{network?.firstName}} {{network?.lastName}}</h5>
                                                                <div class="para5">Business Card</div>
                                                            </div>
                                                            <div class="card-footer text-muted p-2 right-footer">
                                                            </div>
                                                            </div>
                                                            <div class="footericons row pt-1">
                                                                <div class="col-6">
                                                                    <img *ngIf="(allNetworks | legside: 'left': network._id)" src="assets/images/arrow.svg"
                                                                    alt="" class="img-fluid lefticon" width="30" >
                                                                    <img *ngIf="!(allNetworks | legside: 'left': network._id)" src="assets/images/plus.svg" [matMenuTriggerFor]="menu1Left" 
                                                                    alt="" class="img-fluid righticon" width="30" >
                                                                </div>
                                                                <div class="col-6">
                                                                    <img *ngIf="(allNetworks | legside: 'right': network._id)" src="assets/images/arrow.svg"
                                                                    alt="" class="img-fluid lefticon" width="30" >
                                                                    <img *ngIf="!(allNetworks | legside: 'right': network._id)" src="assets/images/plus.svg" [matMenuTriggerFor]="menu1Right" 
                                                                    alt="" class="img-fluid righticon" width="30" >
                                                                </div>

                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <mat-menu #menu1Left="matMenu">
                                                        <div *ngFor="let pn of pendingNetworks">
                                                        <button  mat-menu-item (click)="addLeg(network, pn, 'left')">
                                                            <img src="assets/images/plus1.svg"  class="img-fluid" width="15" > 
                                                            <span> add {{pn.firstName}} {{pn.lastName}} to left</span>
                                                        </button>
                                                        </div>
                                                    </mat-menu>
                                                    <mat-menu #menu1Right="matMenu">
                                                        <div *ngFor="let pn of pendingNetworks">
                                                        <button  mat-menu-item (click)="addLeg(network, pn, 'right')">
                                                            <img src="assets/images/plus1.svg"  class="img-fluid" width="15" > 
                                                            <span> add {{pn.firstName}} {{pn.lastName}} to right</span>
                                                        </button>
                                                        </div>
                                                    </mat-menu>
                                                    </li>
                                                    
                                                </ul>
                                                               
                                        </div>
                                      
                                    </li>
                                </ul>
                            </div>
                        </div>

                          <!-- <div class="row mb-5">
                            <div class="col-6 px-0"></div>
                            <div class="col-4 px-0">
                                <div class="card">
                                        <div class="card-body">
                                            <div class="para1">
                                                <a href="">
                                                    <img src="assets/images/plus1.svg" 
                                                                            alt="" class="img-fluid" width="15" >
                                                    Add Gloria
                                                </a>
                                            </div>
                                        </div>
                                          <div class="card-body">
                                        <div class="para1">
                                             <a href="">
                                            <img src="assets/images/plus1.svg" 
                                                                    alt="" class="img-fluid" width="15" >
                                            Add chygoz
                                        </a>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                </div>
            </div>

               <div class="row mobileview">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <button type="button"  class="btn btn-primary-white active  mt-4">Left Leg</button>
                        </div>
                        <div class="col-6">
                             <button type="button"  class="btn btn-primary-white mt-4">Right Leg</button>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-12 pt-4">
                                <div class="card">
                                    <div class="card-body">
                                         <div class="col-12 mb-5 text-center">
                                        <div class="btn btn-primary">
                                            <span class="dot">{{pendingNetworks?.length}}</span>
                                            Pending Referrals 
                                        </div>
                                    </div>
                                   <div class="col-12 pt-4">
                                        <div class="card text-center">
                                            <div class="card-body cardpadding">
                                                <img src="assets/images/user.svg" alt="" 
                                                        class="img-fluid useroverly" width="50" >
                                               <h5 class="header5 pt-3">{{mainNetwork?.firstName}} {{mainNetwork?.lastName}}</h5>
                                                <div class="para5">Business Card</div>
                                            </div>
                                            <div class="card-footer text-muted p-2 right-footer">
                                            </div>
                                        </div>
                                    </div>
                                      <div class="col-12 pt-4">
                                      <mat-accordion>
                                           <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                        I st Generation
                                                        </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                 <div class="col-12 px-0 pt-3">
                                                    <div class="card text-center mt-3">
                                                            <div class="card-body cardpadding">
                                                                <img src="assets/images/user.svg" alt="" 
                                                                     class="img-fluid useroverly" width="50" >
                                                                <h5 class="header5 pt-3">Michelle1</h5>
                                                                <div class="para5">Business Card</div>
                                                            </div>
                                                            <div class="card-footer text-muted p-2 right-footer">
                                                            </div>
                                                            </div>
                                                            <div class="footericons row pt-1">
                                                                <div class="col-6">
                                                                    <img src="assets/images/arrow.svg" 
                                                                    alt="" class="img-fluid lefticon" width="30" >
                                                                </div>
                                                                <div class="col-6">
                                                                <img src="assets/images/plus.svg" 
                                                                    alt="" class="img-fluid righticon" width="30" >
                                                                </div>

                                                            </div>
                                                    </div>
                                                    <div class="col-12 px-0 pt-3">
                                                    <div class="card text-center mt-3">
                                                            <div class="card-body cardpadding">
                                                                <img src="assets/images/user.svg" alt="" 
                                                                     class="img-fluid useroverly" width="50" >
                                                                <h5 class="header5 pt-3">Michelle1</h5>
                                                                <div class="para5">Business Card</div>
                                                            </div>
                                                            <div class="card-footer text-muted p-2 right-footer">
                                                            </div>
                                                            </div>
                                                            <div class="footericons row pt-1">
                                                                <div class="col-6">
                                                                    <img src="assets/images/arrow.svg" 
                                                                    alt="" class="img-fluid lefticon" width="30" >
                                                                </div>
                                                                <div class="col-6">
                                                                <img src="assets/images/plus.svg" 
                                                                    alt="" class="img-fluid righticon" width="30" >
                                                                </div>

                                                            </div>
                                                    </div>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                        2 st Generation
                                                        </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                    <p>I'm visible because I am open 11</p>
                                                </mat-expansion-panel>
                                             </mat-accordion>
                                        </div>
                                  
                                    </div>
                                </div>
                         </div>
                    </div>
                      

                </div>
                
            
            
            
            </div>      
                 



            </div>
            </div>
           
        </div>
    </div>