<div class="container-fluid" style="background-color: #07555c;">
    <div class="default-padding">
     <div class="container">
        <div class="col-12 px-0">
        <h1 class="header1">Binary Tree</h1>
       
        </div>
    </div> 
    </div> 
    </div> 
    <div class="container-fluid" style="background-color: #f2f5f9;">
       
        <div class="container">
            <div class="row">
            <div class="col-2 px-0">
                   <h2 class="header2-dart pt-4">Network</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="para-num">4</div> 
                 <div class="para-small">Connections</div>
                </li>
                <li class="list-group-item">
                    <div class="para-num">700</div> 
                
                    <div class="para-small">Left Volume Points</div>
                </li>
                <li class="list-group-item">
                    <div class="para-num">400</div> 
                
                    <div class="para-small">Right Volume Points</div>
                </li>
                <li class="list-group-item">
                    <div class="para-num">900</div> 
                
                    <div class="para-small">Total Volume Points</div>
                </li>
                <li class="list-group-item">
                    <div class="para-num">$400</div> 
                
                    <div class="para-small">Pay Volume Accumulated</div>
                </li>
            </ul>
             
            <button type="button"  class="btn btn-primary card-1-button mt-4">Buy Card Now</button>
            </div>
            <div class="col-10 px-0">
                
                <div class="card-overlay-thumb">
                    
                    <div class="card">
                        <div class="card-body card-network">
                            <div class="tree">
                                <ul>
                                    <li>
                                        <div class="family">
                                           
                                                 <div class="person female">
                                                    <div class="name">Grandmother</div>
                                                </div>
                                                <ul>
                                                   <li>
                                                    <div class="family" style="width: 172px">
                                                        <div class="person child male">
                                                          <div class="name">Uncle</div>
                                                        </div>
                                                    </div>
                                                    </li>
                                                    <li>
                                                        <div class="family" style="width: 344px">
                                                            
                                                                <div class="person child male">
                                                                        <div class="name">Uncle</div>
                                                                </div>
                                                                <ul>
                                                                    <li>
                                                                    <div class="person child male">
                                                                        <div class="name">Me</div>
                                                                    </div>
                                                                    </li>
                                                                    <li>
                                                                    <div class="person child female">
                                                                        <div class="name">Sister</div>
                                                                    </div>
                                                                    </li>
                                                                </ul>
                                                            
                                                        </div>
                                                    </li>
                                                </ul>
                                             
                                        </div>
                                      
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>