<div class="container-fluid" style="background-color: #07555c;">
    <div class="default-padding">
     <div class="container">
        <div class="col-12 px-0">
        <h1 class="header1">Binary Tree</h1>
       
        </div>
    </div> 
    </div> 
    </div> 
    <div class="container-fluid" style="background-color: #f2f5f9;">
       
        <div class="container">
            <div class="row">
            <div class="col-2 px-0">
                   <h2 class="header2-dart pt-4">Network</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="para-num">{{connections}}</div> 
                 <div class="para-small">Connections</div>
                </li>
                <li class="list-group-item">
                    <div class="para-num">700</div> 
                
                    <div class="para-small">Left Volume Points</div>
                </li>
                <li class="list-group-item">
                    <div class="para-num">400</div> 
                
                    <div class="para-small">Right Volume Points</div>
                </li>
                <li class="list-group-item">
                    <div class="para-num">900</div> 
                
                    <div class="para-small">Total Volume Points</div>
                </li>
                <li class="list-group-item">
                    <div class="para-num">$400</div> 
                
                    <div class="para-small">Pay Volume Accumulated</div>
                </li>
            </ul>
             
            <button type="button"  class="btn btn-primary card-1-button mt-4">Buy Card Now</button>
            </div>
            <div class="col-10 px-0">
                <div class="row">
                    <div class="col-12 px-0">
                    <div class="card-overlay-thumb">
                    
                    <div class="card">
                        <div class="card-body card-network">
                            <div class="tree">
                                <ul>
                                    <li>
                                        <div class="family">
                                           
                                                 <div class="person female">
                                                    <div class="">
                                                        <div class="card text-center">
                                                            <div class="card-body cardpadding">
                                                                <img src="assets/images/user.svg" alt="" 
                                                                     class="img-fluid useroverly" width="50" >
                                                                <h5 class="header5 pt-3">{{userData?.firstName}} {{userData?.lastName}}</h5>
                                                                <div class="para5">Business Card</div>
                                                            </div>
                                                            <div class="card-footer text-muted p-2 left-footer">
                                                                
                                                            </div>
                                                            </div>

                                                    </div>
                                                </div>
                                                <ul>
                                                   <li>
                                                    <div class="family" style="width: 172px">
                                                        <div class="person child male">
                                                          <div class="">
                                                            <div class="card text-center">
                                                            <div class="card-body cardpadding">
                                                                <img src="assets/images/user.svg" alt="" 
                                                                     class="img-fluid useroverly" width="50" >
                                                                <h5 class="header5 pt-3">Michelle1</h5>
                                                                <div class="para5">Business Card</div>
                                                            </div>
                                                            <div class="card-footer text-muted p-2 right-footer">
                                                            </div>
                                                            </div>
                                                            <div class="footericons row pt-1">
                                                                <div class="col-6">
                                                                    <img src="assets/images/circle-button.svg" 
                                                                    alt="" class="img-fluid lefticon" width="25" >
                                                                </div>
                                                                <div class="col-6">
                                                                <img src="assets/images/plus.svg" 
                                                                    alt="" class="img-fluid righticon" width="25" >
                                                                </div>

                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </li>
                                                    <li>
                                                        <div class="family" style="width: 344px">
                                                            
                                                                <div class="person child male">
                                                                        <div class="">
                                                        <div class="card text-center">
                                                            <div class="card-body cardpadding">
                                                                <img src="assets/images/user.svg" alt="" 
                                                                     class="img-fluid useroverly" width="50" >
                                                                <h5 class="header5 pt-3">Miriam</h5>
                                                                <div class="para5">Business Card</div>
                                                        </div>
                                                            <div class="card-footer text-muted p-2 right-footer">
                                                            </div>
                                                        </div>
                                                            <div class="footericons row pt-1">
                                                                <div class="col-6">
                                                                    <img src="assets/images/circle-button.svg" 
                                                                    alt="" class="img-fluid lefticon" width="25" >
                                                                </div>
                                                                <div class="col-6">
                                                                <img src="assets/images/plus.svg" 
                                                                    alt="" class="img-fluid righticon" width="25" >
                                                                </div>

                                                            </div>

                                                                        </div>
                                                                </div>
                                                                <ul>
                                                                    <li>
                                                                    <div class="person child male">
                                                                        <div class="">
                                                  <div class="card text-center">
                                                            <div class="card-body cardpadding">
                                                                <img src="assets/images/user.svg" alt="" 
                                                                     class="img-fluid useroverly" width="50" >
                                                                <h5 class="header5 pt-3">Miriam1</h5>
                                                                <div class="para5">Business Card</div>
                                                        </div>
                                                            <div class="card-footer text-muted p-2 right-footer">
                                                            </div>
                                                        </div>
                                                            <div class="footericons row pt-1">
                                                                <div class="col-6">
                                                                    <img src="assets/images/circle-button.svg" 
                                                                    alt="" class="img-fluid lefticon" width="25" >
                                                                </div>
                                                                <div class="col-6">
                                                                <img src="assets/images/plus.svg" 
                                                                    alt="" class="img-fluid righticon" width="25" >
                                                                </div>

                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                    </li>
                                                                    <li>
                                                                    <div class="person child female">
                                                                        <div class="">
                                                <div class="card text-center">
                                                            <div class="card-body cardpadding">
                                                                <img src="assets/images/user.svg" alt="" 
                                                                     class="img-fluid useroverly" width="50" >
                                                                <h5 class="header5 pt-3">Miriam2</h5>
                                                                <div class="para5">Business Card</div>
                                                        </div>
                                                            <div class="card-footer text-muted p-2 right-footer">
                                                            </div>
                                                        </div>
                                                            <div class="footericons row pt-1">
                                                                <div class="col-6">
                                                                    <img src="assets/images/circle-button.svg" 
                                                                    alt="" class="img-fluid lefticon" width="25" >
                                                                </div>
                                                                <div class="col-6">
                                                                <img src="assets/images/plus.svg" 
                                                                    alt="" class="img-fluid righticon" width="25" >
                                                                </div>

                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    </li>
                                                                </ul>
                                                            
                                                        </div>
                                                    </li>
                                                     <li>
                                                    <div class="family" style="width: 172px">
                                                        <div class="person child male">
                                                          <div class="">
                                                            <div class="card text-center">
                                                            <div class="card-body cardpadding">
                                                                <img src="assets/images/user.svg" alt="" 
                                                                     class="img-fluid useroverly" width="50" >
                                                                <h5 class="header5 pt-3">Michelle</h5>
                                                                <div class="para5">Business Card</div>
                                                            </div>
                                                            <div class="card-footer text-muted p-2 right-footer">
                                                            </div>
                                                            </div>
                                                            <div class="footericons row pt-1">
                                                                <div class="col-6">
                                                                    <img src="assets/images/circle-button.svg" 
                                                                    alt="" class="img-fluid lefticon" width="25" >
                                                                </div>
                                                                <div class="col-6">
                                                                <img src="assets/images/plus.svg" 
                                                                    alt="" class="img-fluid righticon" width="25" >
                                                                </div>

                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </li>
                                                </ul>
                                             
                                        </div>
                                      
                                    </li>
                                </ul>
                            </div>
                        </div>

                          <div class="row mb-5">
                            <div class="col-6 px-0"></div>
                            <div class="col-6 px-0">
                                <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <div class="para1">
                                                <a href="">
                                                    <img src="assets/images/plus1.svg" 
                                                                            alt="" class="img-fluid" width="15" >
                                                    Add as a <strong>Left Volume</strong> to Gloria
                                                </a>
                                            </div>
                                        </div>
                                          <div class="card-body">
                                        <div class="para1">
                                             <a href="">
                                            <img src="assets/images/plus1.svg" 
                                                                    alt="" class="img-fluid" width="15" >
                                            Add as a <strong>right Volume</strong> to Gloria
                                        </a>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>


                    </div>

                </div>

            

               
                </div>
            </div>

                    
                 



            </div>
            </div>
           
        </div>
    </div>