
<div class="container-fluid" style="background-color: #07555c;">
    <div class="default-padding">
     <div class="container">
        <div class="col-12 px-0">
        <h1 class="header1">Hi, Michelle</h1>
        <p class="para">welcome to your back office</p>
        </div>
    </div> 
    <div class="card-overlay-thumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-4i">
                     <div class="card card-1-margin">
                     <div class="card-body card-1">
                           <p class="card-text">Your Card</p>
                        <h1 class="header2 text-center">BUSINESS CARD</h1>
                        <div class="card-1-footer">
                        <button type="button" 
                        (click)="upgradecardDialog()"
                        class="btn btn-primary card-1-button">Upgrade Card</button>
                        </div>
                     </div>
                     </div>
                </div>
                <div class="col-sm-3i">
                     <div class="card">
                        <div class="card-body card-2">
                            <p class="card-text">Total</p>
                            <h1 class="header2 text-left">4,050</h1>
                            <div class="car-sub">Accumulated  Points</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3i">
                     <div class="card">
                     <div class="card-body card-3">
                           <p class="card-text">Current</p>
                        <h1 class="header2 text-left" style="color: #6c6c6c;">2,409</h1>
                         <div class="car-sub">Available  Points</div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4i">
                       <div class="card">
                        <div class="card-body card-4">
                            <p class="card-text">Wallet</p>
                            <h1 class="header2 text-left" style="color: #6c6c6c;">285.00 <span>USD</span></h1>
                             <div class="car-sub">Available  Balance</div>
                            <div class="card-4-footer">
                            <button type="button" class="btn btn-primary
                             card-1-button">Request Widthdraw</button>
                            </div>
                            </div>
                    </div>
                 </div>
              
        </div>
        </div>
   </div>
</div>
</div>
<div class="default-padding-1">
    <div class="container">
         <h1 class="header1-dart">Your Transactions</h1>
    </div>
<div class="container">
    <div class="card card-white">
        <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">TRANSACTION ID</th>
                <th scope="col">Description</th>
                <th scope="col">DATE</th>
                <th scope="col">AMOUNT</th>
                <th scope="col">STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">MNF32388423239929330</td>
                    <td>Withdraw Request</td>
                    <td>01 Feb. 2021</td>
                    <td>2,394</td>
                    <td>USD</td>
                    <td><button type="button" 
                        class="btn btn-primary btn-sm button-green">Completed</button></td>
                </tr>
                 <tr>
                    <td scope="row">MNF32388423239929330</td>
                    <td>Withdraw Request</td>
                    <td>01 Feb. 2021</td>
                    <td>2,394</td>
                    <td>USD</td>
                    <td><button type="button" 
                        class="btn btn-primary btn-sm button-orange">Pending</button></td>
                </tr>
                 <tr>
                    <td scope="row">MNF32388423239929330</td>
                    <td>Withdraw Request</td>
                    <td>01 Feb. 2021</td>
                    <td>2,394</td>
                    <td>USD</td>
                    <td><button type="button" 
                        class="btn btn-primary btn-sm button-red">Cancelled</button></td>
                </tr>
              
            </tbody>
            </table>
        </div>
        <div class="card-footer">
             <div class="col-12 px-0">
                <nav aria-label="..." class="float-right">
                        <ul class="pagination pagination-lg">
                            <li class="page-item disabled">
                            <a class="page-link active" href="#" tabindex="-1">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                </nav>
                </div>
        </div>
</div>
</div>

 

</div>