
<div class="container-fluid" style="background-color: #07555c;">
    <div class="default-padding">
     <div class="container">
        <div class="col-12 px-0">
        <h1 class="header1">Hi, {{userData?.firstName}}</h1>
        <p class="para">welcome to Dashboard</p>
        </div>
    </div> 
    <div class="card-overlay-thumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-4i">
                     <div class="card card-1-margin">
                     <div class="card-body card-1">
                           <p class="card-text">Your Card</p>
                        <h1 class="header2 text-center">{{current_card}}</h1>
                        <div class="card-1-footer">
                        <button type="button" 
                        (click)="upgradecardDialog()"
                        class="btn btn-primary card-1-button">Upgrade Card</button>
                        </div>
                     </div>
                     </div>
                </div>
                <div class="col-sm-3i">
                     <div class="card">
                        <div class="card-body card-2">
                            <p class="card-text">Total</p>
                            <h1 class="header2 text-left">{{leftVolumePoints+rightVolumePoints}}</h1>
                            <div class="car-sub">Accumulated  Points</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3i">
                     <div class="card">
                     <div class="card-body card-3">
                           <p class="card-text">Current</p>
                        <h1 class="header2 text-left" style="color: #6c6c6c;">
                            {{(leftVolumePoints+rightVolumePoints) - withdrawpoints}}</h1>
                         <div class="car-sub">Available  Points</div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4i">
                       <div class="card">
                        <div class="card-body card-4">
                            <p class="card-text">Wallet</p>
                            <h1 class="header2 text-left" style="color: #6c6c6c;">{{(((leftVolumePoints+rightVolumePoints) - withdrawpoints) * pointsprice)}} <span>XAF</span></h1>
                             <div class="car-sub">Available  Balance</div>
                            <div class="card-4-footer">
                            <button type="button"
                             (click)="withdrawDialog()"
                            class="btn btn-primary
                             card-1-button">Request Widthdraw</button>
                            </div>
                            </div>
                    </div>
                 </div>
              
        </div>
        </div>
   </div>
</div>
</div>
<div class="default-padding-1 ">
  
<div class="container card-white">
      <div class="col-12 px-0">
         <h1 class="header1-dart">Your Transactions</h1>
    </div>
    <div class="col-12 px-0">
        <div class="container">
        <table class="table table-responsive">
            <thead>
                <tr>
                <th scope="col">TRANSACTION ID</th>
                <th scope="col">Description</th>
                <th scope="col">DATE</th>
                <th scope="col">W.POINTS</th>
                <th scope="col">AMOUNT</th>
                <th scope="col">STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of userwithdrawlist | paginate: { itemsPerPage: 10,currentPage: q }">
                    <td scope="row">{{transaction?.transaction_id}}</td>
                    <td>{{transaction?.description}}</td>
                    <td>{{transaction?.created_at}}</td>
                     <td>{{transaction?.redeemedpoints}}</td>
                    <td>{{transaction?.redeemedpoints * pointsprice}}</td>
                    <td>XAF</td>
                    <td>
                        <button type="button" *ngIf="transaction.status == 'completed'"
                        class="btn btn-sm button-green">Completed</button>
                            <button type="button" *ngIf="transaction.status == 'pending'"
                        class="btn btn-sm button-orange">Pending</button>
                          <button type="button" *ngIf="transaction.status == 'cancelled'"
                        class="btn btn-sm button-red">Pending</button>
                    </td>
                </tr>
              
                <!--tr>
                    <td scope="row">MNF32388423239929330</td>
                    <td>Register</td>
                    <td>{{userData?.created_at}}</td>
                    <td>-</td>
                    <td>0.00</td>
                    <td>XAF</td>
                    <td>
                        <button type="button" 
                        class="btn btn-sm button-green">Completed</button>
                    </td>
                </tr-->
              
            </tbody>
            </table>
            </div>
</div>

             <div class="col-12 px-0">
                    <pagination-controls class="pagination pagination-lg"
                    (pageChange)="q = $event"
                     responsive="false"
                      previousLabel=""
                      nextLabel=""
                    ></pagination-controls>


                
                </div>
     

</div>

 

</div>