.header1overlay {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 75px;
    font-family: GraphikBold;
    padding-left: 101px;
    top: 50%;
}
.header1 {
    font-size: 30px;
}
.para {
    color: #c5d82c;
    font-size: 18px;
    line-height: 3px;
}
.default-padding {
    padding-top: 49px;
    padding-bottom: 166px;
}
.header1 {
    color: #fff;
}
.header2 {
    color: #fff;
    font-size: 22px;
    padding-top: 13px;
}
.card-overlay-thumb {
    position: absolute;
    /*top: 0;*/
    right: 0;
    left: 0;
    bottom: 315px;
    /* padding: 1.25rem; */
    border-radius: calc(0.25rem - 1px);
}
.card-1 {
    background-color: #c5d82c;
    border: #c5d82c;
    border-radius: 14px;
    width: 319px;
    padding-top: 36px;
    padding-bottom: 56px;
    padding-left: 33px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.card-4 {
    background-color: #fff;
    border: #fff;
    border-radius: 14px;
    width: 280px;
    padding-top: 36px;
    padding-bottom: 56px;
    padding-left: 33px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.card-1-footer {
    position: absolute;
    top: 148px;
    bottom: 0;
    border-radius: calc(0.25rem - 1px);
    text-align: center;
    left: 81px;
}
.card-4-footer {
    position: absolute;
    top: 148px;
    bottom: 0;
    border-radius: calc(0.25rem - 1px);
    text-align: center;
    left: 38px;
}
.card-1-button {
    padding: 13px 36px 14px 28px;
    font-size: 13px;
    background-color: #3ca063;
}

.card-2 {
    background-color: #000000;
    border: #000000;
    border-radius: 14px;
    width: 220px;
    padding-top: 36px;
    padding-bottom: 56px;
    padding-left: 33px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.card-3 {
    background-color: #fff;
    border: #fff;
    border-radius: 14px;
    width: 220px;
    padding-top: 36px;
    padding-bottom: 56px;
    padding-left: 33px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.card-text {
    color: #3ca063;
    font-weight: 600;
    font-size: 13px;
}
.card {
    background: none !important;
    border: none;
}
.card-footer {
    background: none;
    border: none;
}
.card-1-margin {
    margin-right: 64px;
}
.car-sub {
    color: #b9b9b9;
    font-size: 12px;
    line-height: 0px;
}

.col-sm-4i {
    flex: 0 0 33.333333%;
    max-width: 29%;
    padding-right: 20px;
}
.col-sm-3i {
    max-width: 20.333333%;
    padding-right: 20px;
}
.default-padding-1 {
    padding-top: 150px;
    padding-bottom: 150px;
}

.card-white {
    background-color: #fff !important;
    padding: 17px;
    border-radius: 17px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.header1-dart {
    font-family: Poppins !important;
    color: #3ca063;
}
.table {
    font-family: Poppins !important;
}

.button-green {
    border-radius: 17px;
    font-size: 11px;
    padding: 4px 18px;
    color: #3ca063;
    background-color: #b0e2c4;
    border: #b0e2c4;
    font-weight: bold;
    outline: none;
}
.button-orange {
    border-radius: 17px;
    font-size: 11px;
    padding: 4px 25px;
    color: #fd9405 !important;
    background-color: #fff !important;
    border: 1px solid #fd9405 !important;
    font-weight: bold;
    outline: none;
}

.button-red {
    border-radius: 17px;
    font-size: 11px;
    padding: 4px 18px;
    color: #fff;
    background-color: #ff3636;
    border: #ff3636;
    font-weight: bold;
    outline: none;
    outline-color: none;
}
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.table-responsive {
    max-height: 300px;
    display: revert;
}

@media only screen and (max-device-width: 767px) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .card-overlay-thumb {
        position: relative;
        top: 26px;
        right: 0;
        left: 0;
        bottom: 298px;
        border-radius: calc(0.25rem - 1px);
    }

    .col-sm-4i {
        margin: 10px 0;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 20px;
    }
    .col-sm-3i {
        margin: 10px 0;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 20px;
    }
    .card-1-margin {
        margin-right: 0px;
    }
    .card-1 {
        width: 100%;
    }
    .card-2,
    .card-3 {
        width: 100%;
        background-color: #000000;
        border: #000000;
        border-radius: 14px;

        padding-top: 18px;
        padding-bottom: 46px;
        padding-left: 33px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }

    .card-1 {
        background-color: #c5d82c;
        border: #c5d82c;
        border-radius: 14px;

        padding-top: 14px;
        padding-bottom: 10px;
        padding-left: 24px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }
    .card-1-footer {
        position: relative;
        top: 0px;
        bottom: 0;
        border-radius: calc(0.25rem - 1px);
        text-align: center;
        left: 0;
    }

    .default-padding {
        padding-top: 4px;
        padding-bottom: 82px;
    }
    .card-1-button {
        padding: 9px 26px 12px 21px;
        font-size: 13px;
        background-color: #3ca063;
    }

    .card-4 {
        background-color: #fff;
        border: #fff;
        border-radius: 14px;
        width: 100%;
        padding-top: 13px;
        padding-bottom: 67px;
        padding-left: 31px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }

    .card-4-footer {
        position: absolute;
        top: 109px;
        bottom: 0;
        border-radius: calc(0.25rem - 1px);
        text-align: center;
        left: 38px;
    }
    .header2 {
        color: #fff;
        font-size: 22px;
        padding-top: 0;
    }
    .default-padding-1 {
        padding-top: 63px;
        padding-bottom: 150px;
    }
}

.table-responsive {
    max-height: 300px;
    display: revert;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .card-overlay-thumb {
        position: relative;
        top: 26px;
        right: 0;
        left: 0;
        bottom: 298px;
        border-radius: calc(0.25rem - 1px);
    }

    .col-sm-4i {
        margin: 10px 0;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 20px;
    }
    .col-sm-3i {
        margin: 10px 0;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 20px;
    }
    .card-1-margin {
        margin-right: 0px;
    }
    .card-1 {
        width: 100%;
    }
    .card-2,
    .card-3 {
        width: 100%;
        background-color: #000000;
        border: #000000;
        border-radius: 14px;

        padding-top: 34px;
        padding-bottom: 56px;
        padding-left: 33px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }

    .card-1 {
        background-color: #c5d82c;
        border: #c5d82c;
        border-radius: 14px;

        padding-top: 35px;
        padding-bottom: 38px;
        padding-left: 24px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }
    .card-1-footer {
        position: relative;
        top: 0px;
        bottom: 0;
        border-radius: calc(0.25rem - 1px);
        text-align: center;
        left: 0;
    }

    .default-padding {
        padding-top: 4px;
        padding-bottom: 82px;
    }
    .card-1-button {
        padding: 9px 26px 12px 21px;
        font-size: 13px;
        background-color: #3ca063;
    }

    .card-4 {
        background-color: #fff;
        border: #fff;
        border-radius: 14px;
        width: 100%;
        padding-top: 26px;
        padding-bottom: 89px;
        padding-left: 31px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }

    .card-4-footer {
        position: absolute;
        top: 135px;
        bottom: 0;
        border-radius: calc(0.25rem - 1px);
        text-align: center;
        left: 38px;
    }
    .header2 {
        color: #fff;
        font-size: 22px;
        padding-top: 0;
    }
    .default-padding-1 {
        padding-top: 63px;
        padding-bottom: 150px;
    }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .card-overlay-thumb {
        position: relative;
        top: 26px;
        right: 0;
        left: 0;
        bottom: 298px;
        border-radius: calc(0.25rem - 1px);
    }

    .col-sm-4i {
        margin: 10px 0;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 20px;
    }
    .col-sm-3i {
        margin: 10px 0;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 20px;
    }
    .card-1-margin {
        margin-right: 0px;
    }
    .card-1 {
        width: 100%;
    }
    .card-2,
    .card-3 {
        width: 100%;
        background-color: #000000;
        border: #000000;
        border-radius: 14px;

        padding-top: 39px;
        padding-bottom: 69px;
        padding-left: 33px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }

    .card-1 {
        background-color: #c5d82c;
        border: #c5d82c;
        border-radius: 14px;

        padding-top: 41px;
        padding-bottom: 52px;
        padding-left: 24px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }
    .card-1-footer {
        position: relative;
        top: 0px;
        bottom: 0;
        border-radius: calc(0.25rem - 1px);
        text-align: center;
        left: 0;
    }

    .default-padding {
        padding-top: 35px;
        padding-bottom: 82px;
    }
    .card-1-button {
        padding: 9px 26px 12px 21px;
        font-size: 13px;
        background-color: #3ca063;
    }

    .card-4 {
        background-color: #fff;
        border: #fff;
        border-radius: 14px;
        width: 100%;
        padding-top: 41px;
        padding-bottom: 84px;
        padding-left: 31px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }

    .card-4-footer {
        position: absolute;
        top: 135px;
        bottom: 0;
        border-radius: calc(0.25rem - 1px);
        text-align: center;
        left: 38px;
    }
    .header2 {
        color: #fff;
        font-size: 22px;
        padding-top: 0;
    }
    .default-padding-1 {
        padding-top: 63px;
        padding-bottom: 150px;
    }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
    .card-overlay-thumb {
        position: relative;
        top: 26px;
        right: 0;
        left: 0;
        bottom: 298px;
        border-radius: calc(0.25rem - 1px);
    }

    .col-sm-4i {
        margin: 10px 0;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 20px;
    }
    .col-sm-3i {
        margin: 10px 0;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 20px;
    }
    .card-1-margin {
        margin-right: 0px;
    }
    .card-1 {
        width: 100%;
    }
    .card-2,
    .card-3 {
        width: 100%;
        background-color: #000000;
        border: #000000;
        border-radius: 14px;

        padding-top: 39px;
        padding-bottom: 69px;
        padding-left: 33px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }

    .card-1 {
        background-color: #c5d82c;
        border: #c5d82c;
        border-radius: 14px;

        padding-top: 41px;
        padding-bottom: 52px;
        padding-left: 24px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }
    .card-1-footer {
        position: relative;
        top: 0px;
        bottom: 0;
        border-radius: calc(0.25rem - 1px);
        text-align: center;
        left: 0;
    }

    .default-padding {
        padding-top: 35px;
        padding-bottom: 82px;
    }
    .card-1-button {
        padding: 9px 26px 12px 21px;
        font-size: 13px;
        background-color: #3ca063;
    }

    .card-4 {
        background-color: #fff;
        border: #fff;
        border-radius: 14px;
        width: 100%;
        padding-top: 41px;
        padding-bottom: 84px;
        padding-left: 31px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }

    .card-4-footer {
        position: absolute;
        top: 135px;
        bottom: 0;
        border-radius: calc(0.25rem - 1px);
        text-align: center;
        left: 38px;
    }
    .header2 {
        color: #fff;
        font-size: 22px;
        padding-top: 0;
    }
    .default-padding-1 {
        padding-top: 63px;
        padding-bottom: 150px;
    }
}
