<div class="padding-all" *ngIf="stage == 1">
    <div style="float: right;" class="cancelbutton" mat-dialog-close><img src="assets/images/cancel.svg" width="20" />
    </div>
    <div class="container pt-4" *ngFor="let plan of plans; let i = index" (click)="upgradeCard(plan)">

        <div class="card" [ngClass]="!(i<userPriority)?'pointer' : '' ">

            <div class="card-body Upgradecardborder p-0">
                <div class="row m-0 p-0">
                    <div class="col-3 px-0" style="background-color: #9d9d9d;">
                        <div class="upgrade1">
                            <div class="u-title-sm"  *ngIf="userData.card_type === plan?.sku">Current card</div>
                            <div class="u-title-lg">{{plan?.cardtype}}</div>
                        </div>
                    </div>
                    <div class="col-6 px-0">
                        <div class="upgrade2">
                            {{plan?.description}}
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="upgrade3">
                            {{plan?.amount}} {{plan?.currency}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="default-padding">
        <div class="container text-right">
            <!-- <button type="button" class="btn btn-primary 
                                card-1-button mr-5" >Upgrade</button> -->
            <button mat-button mat-dialog-close class="btn btn-default">Cancel</button>
        </div>
    </div>
</div>
<section class="paddingdefault" *ngIf="stage == 2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="row">
             <div class="col-md-12 text-center">
                 <img src="assets/images/montebil.png" class="img-fluid monsize" width="200" alt="" />
             </div>
             <div class="col-md-12">
                <h1 class="header1">Complete Payment</h1>
                <p class="para">Pay with your preferred mobile money</p>
             </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 pt-1">
                <label for="inputEmail4">Operator</label>
                <select class="form-control" id="inputEmail4" 
                formControlName="operator" style="height: 42px;">
                    <option value="">Select</option>
                    <option *ngFor="let pay of paymentOptions" [value]="pay?.value">{{pay?.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
               <div class="form-group col-md-12">
                    <label for="inputEmail4">Phone Number</label>
                     <div class="input-group ">
                 <input type="text" class="form-control codelable" value="+237" readonly
                 id="inputEmail4" placeholder="" style="height: 42px;">
                <input type="text" class="form-control" formControlName="mobile"
                 id="inputEmail4" placeholder="" style="height: 42px;">
 <div class="input-group-append" >
                                <img src="assets/images/cameroon.png" class="img-fluid sbtn" width="40"  alt="" />
 </div>
               </div>

            </div>
        </div>
          <div class="row">
               <div class="form-group col-md-12">
                      <img src="assets/images/orange.png" class="img-fluid  imagethumb" alt="" />
                      <img src="assets/images/mtn.png" class="img-fluid imagethumb"  alt="" />
                      <img src="assets/images/eu.png" class="img-fluid imagethumb"  alt="" />
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
                <button type="submit" name="submit" 
                class="btn btn-primary mr-1"
                 [disabled]="myForm.invalid" >Proceed</button>
                <button mat-button mat-dialog-close class="btn btn-default">Cancel</button>
        </div>
        </div>
    </form>
</section>