.Upgradecardborder {
    border: 2px solid #3ca063;
}
.u-title-sm {
    color: #000;
    font-size: 11px;
}
.u-title-lg {
    color: #07555c;
    font-size: 14px;
    font-weight: bold;
}
.upgrade1 {
    padding: 14px;
    text-align: center;
}
.upgrade2 {
    padding: 24px 14px;
}
.upgrade3 {
    text-align: center;
    padding: 24px 14px;
    font-weight: bold;
}
.default-padding {
    padding-top: 50px;
}

.card-1-button {
    padding: 13px 36px 14px 28px;
    font-size: 13px;
    background-color: #3ca063;
}

.cancelbutton {
    float: right;
    position: relative;
    right: -33px;
    top: -35px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .col-3,
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .padding-all {
        padding: 5px;
    }
    .mat-dialog-container {
        padding: 5px !important;
    }

    .cancelbutton {
        float: right;
        position: relative;
        right: -16px;
        top: -19px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


// css for stage 2 start
.btn-primary {
    color: #fff;
    background-color: #07555c;
    border-color: #07555c;
}

.header1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.para {
    color: #929292;
    font-size: 14px;
    line-height: 3px;
    text-align: center;
}

.paddingdefault {
    padding: 10px 59px;
}

.monsize {
    width: 200px;
}
.imagethumb {
    width: 80px;
}

.form-control {
    font-size: 12px;
}
select {
    outline: none;
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}
.codelable {
    flex: none;
    width: 47px;
    padding: 5px;
}

.input-group-append {
    position: absolute;
    right: 0;
}

.sbtn {
    height: 25px;
    margin-top: 8px;
    padding-right: 4px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .cdk-overlay-pane {
        max-width: 94vw !important;
    }

    .full-width-dialog .mat-dialog-container {
        max-width: 100vw !important;
    }
    .paddingdefault {
        padding: 2px 5px;
    }
    .monsize {
        width: 100px;
    }
    .imagethumb {
        width: 50px;
    }
    .header1 {
        font-size: 19px;
        font-weight: 600;
        text-align: center;
    }
    .para {
        color: #929292;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
    .mat-dialog-container {
        padding: 11px !important;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .paddingdefault {
        padding: 2px 5px;
    }
    .monsize {
        width: 100px;
    }
    .imagethumb {
        width: 50px;
    }
    .header1 {
        font-size: 19px;
        font-weight: 600;
        text-align: center;
    }
    .para {
        color: #929292;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .paddingdefault {
        padding: 2px 5px;
    }
    .monsize {
        width: 100px;
    }
    .imagethumb {
        width: 50px;
    }
    .header1 {
        font-size: 19px;
        font-weight: 600;
        text-align: center;
    }
    .para {
        color: #929292;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}
// css for stage 2 end
