<!--div class="container-fluid px-0 headerbg" >
        <div class="container-md">
             <div class="row">

            <div class="col-6 px-0">
                <div class="default-padding">
                <h1 class="header1">More than just Discount card</h1>
                                <p class="para">flights tickets, insurance, hospitals, schools, 
restaurants, <br /> hotels ,pharmacies, supermarket etc</p>
                    <div class="button-default-padding">
                     <button type="button" routerLink="/register"  class="btn btn-primary card-1-button">Buy Card Now</button>
                    </div>
            </div>
                </div>
            <div class="col-6 px-0 ">
                    <img src="assets/images/home1.jpg" alt="" class="img-fluid mob-pad" >
             </div>
             </div>
        </div>
        
    
    </div-->
<div class="container-fluid px-0 headerbg">
    <div class="container-slide">
        <div class="row">

            <div class="col-6 px-0">
                <div class="default-padding">
                    <h1 class="header1">MORE THAN</h1>
                    <h1 class="header1">JUST A <span>DISCOUNT</span></h1>
                    <h1 class="header1">CARD</h1>
                    <div class="button-default-padding">
                        <button type="button" routerLink="/register" class="btn card-1-button">See the Benefits</button>
                    </div>
                </div>
            </div>
            <div class="col-6 px-0 ">
                <p class="para positionpara">flights tickets, insurance, <br />hospitals, schools, <br />restaurants, hotels, <br />pharmacies, supermarket etc</p>
            </div>
        </div>
    </div>


</div>



<div class="container-fluid" id="pricing" style="background-color: #ffffff;">
    <div class="default-padding-pricing">
        <div class="container-md">
            <h2 class="header2-partners pb-1">Partners From Various Sectors</h2>
            <p class="para-use">Use your cards at any of their available outlets.</p>
            <div class="row partnertop">
                <div class="col-md-4">
                    <div class="card mb-4 parterslist">
                        <img class="card-img-top" src="assets/images/b1.jpg">
                        <div class="card-body parterslistbody">
                            <p class="card-text">Health & Wellness Products
                            </p>
                            <div class="">
                                <p class="subpara">+255 34234 2323</p>
                                <p class="subpara">42 Bam Street, Douala, CMR</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 parterslist">
                        <img class="card-img-top" src="assets/images/b2.jpg">
                        <div class="card-body parterslistbody">
                            <p class="card-text">Fashion Accessories & Clothing
                            </p>
                            <div class="">
                                <p class="subpara">+255 34234 2323</p>
                                <p class="subpara">42 Bam Street, Douala, CMR</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 parterslist">
                        <img class="card-img-top" src="assets/images/b3.jpg">
                        <div class="card-body parterslistbody">
                            <p class="card-text">Living Essentials Commodities
                            </p>
                            <div class="">
                                <p class="subpara">+255 34234 2323</p>
                                <p class="subpara">42 Bam Street, Douala, CMR</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="viewpartners"><a href="#">View Partner List</a></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid" id="about" style="background-color: #fff;">
    <div class="default-padding-why">
        <div class="container-md">
            <div class="row">
                <div class="col-6 px-0">
                    <img src="assets/images/why-choose-us.png" alt="" class="img-fluid">
                </div>
                <div class="col-1 px-0"></div>
                <div class="col-5 px-0">
                    <h2 class="header2">Why choose us ? </h2>
                    <p class="para">It makes life more easy, One shopping card , One payment with millions of partners Through the entire globe.</p>


                    <div class="">
                        <div class="comment-widgets">
                            <!-- Comment Row -->
                            <div class="d-flex flex-row comment-row m-t-0">
                                <div class="p-4">
                                    <img src="assets/images/li-1.jpg" alt="" class="img-fluid" width="60">
                                </div>
                                <div class="comment-text w-100">
                                    <div class="padding-20">
                                        <h2 class="header3-dart"> First African Instant Referral Payment </h2>
                                        <div class="para2">compensation plan The more you refer the more incentives you get.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Comment Row -->
                            <div class="d-flex flex-row comment-row m-t-0">
                                <div class="p-4">
                                    <img src="assets/images/li-2.jpg" alt="" class="img-fluid" width="60">
                                </div>
                                <div class="comment-text w-100">
                                    <div class="padding-20">
                                        <h2 class="header3-dart">Enjoy discounts</h2>
                                        <div class="para2">from 5% to 90% on daily basis and gain financial freedom and security</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row comment-row m-t-0">
                                <div class="p-4">
                                    <img src="assets/images/li-2.jpg" alt="" class="img-fluid" width="60">
                                </div>
                                <div class="comment-text w-100">
                                    <div class="padding-20">
                                        <h2 class="header3-dart">Pay & accept payment</h2>
                                        <!--div class="para2">from 5% to 90% on daily basis and gain financial 
                                        freedom and security</div-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid" id="pricing" style="background-color: #f4f4f4;">
    <div class="default-padding-pricing">
        <div class="container-md">
            <h2 class="header2-dart pb-4">Purchase A Card</h2>
            <p class="para-use">Save while Spending</p>
            <div class="card-deck mb-3 text-center pt-3 cardalign">
                <div class="card mb-4 shadow-sm" style="background-color: #3ca063; border: #3ca063;    border-radius: 15px;">
                    <div class="card-body price-card-padding">
                        <h1 class="card-title pricing-card-title">
                            Local <br /> Card
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4 listtop1">

                            <li>
                                <div class="para1-light">Shop in any of our authorized outlet</div>
                            </li>
                            <li>
                                <div class="header2-light pt-4">10000 Frs</div>
                            </li>
                        </ul>
                        <button type="button" routerLink="/register" class="btn btn-primary-white buttontop">Buy Card</button>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm" style="background-color: #c5d82c;
                    border: #c5d82c;border-radius: 15px;">
                    <div class="card-body price-card-padding-2">
                        <h1 class="card-title pricing-card-title">
                            Business<br /> Card
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4 listtop">
                            <li style="color: #3ca063;
    font-size: 16px;
    font-weight: 500;">PLUS</li>
                            <li>
                                <div class="para1-light">Coming Soon</div>
                            </li>
                            <li>
                                <div class="header2-light pt-4">XXXX</div>
                            </li>

                        </ul>
                        <!--button type="button" routerLink="/register" class="btn btn-primary-white buttontop">Buy Card</button-->
                        <button type="button" class="btn btn-primary-white buttontop" style="background-color: #d9d9d9;color: #fff;">Inactive</button>

                    </div>
                </div>
                <div class="card mb-4 shadow-sm" style="background-color: #aec727; border: #aec727;    border-radius: 15px;">
                    <div class="card-body price-card-padding">
                        <h1 class="card-title pricing-card-title">
                            International <br /> Card
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4 listtop1">
                            <li style="color: #3ca063;
    font-size: 16px;
    font-weight: 500;">PLUS</li>
                            <li>
                                <div class="para1-light">Coming Soon</div>
                            </li>
                            <li>
                                <div class="header2-light pt-4">XXXX</div>
                            </li>
                        </ul>
                        <!--button type="button" routerLink="/register" class="btn btn-primary-white buttontop">Buy Card</button-->
                        <button type="button" class="btn btn-primary-white buttontop" style="background-color: #d9d9d9;color: #fff;">Inactive</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color: #fff;">
    <div class="default-padding1">
        <h2 class="header2-white">What our customers are saying</h2>
        <!--div class="para1 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </div>
                    <div class="para1 text-center">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div-->
        <div class="default-padding-pricing">
            <div class="container-md">
                <div class="row">

                    <div class="col-12 px-0">
                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide>
                                <div class="card">
                                    <div class="card-horizontal">
                                        <div class="img-square-wrapper">

                                            <img class="" src="assets/images/Placehold.png" alt="" style="width: 320px;">
                                        </div>
                                        <div class="card-body p-5">
                                            <p style="text-align: center;">
                                                <img class="" src="assets/images/quote.jpg" alt="" style="width: 50px;    position: relative;
                                        margin: 0 auto;"></p>
                                            <p class="card-text-testi">
                                                Green discount helps me easily locate where I can get anything at the best competitive price in the market
                                            </p>
                                            <div class="text-center">
                                                <p class="para1" style="font-weight: bold;;">Paul Atingwa</p>
                                                <!--p>Student</p-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>

                                <div class="card">
                                    <div class="card-horizontal">
                                        <div class="img-square-wrapper">

                                            <img class="" src="assets/images/Placehold.png" alt="" style="width: 320px;">
                                        </div>
                                        <div class="card-body p-5">
                                            <p style="text-align: center;">
                                                <img class="" src="assets/images/quote.jpg" alt="" style="width: 50px;    position: relative;
                                        margin: 0 auto;"></p>
                                            <p class="card-text-testi">
                                                Green discount Card helps buy and safe more money
                                            </p>
                                            <div class="text-center">
                                                <p class="para1" style="font-weight: bold;;">James</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>

                                <div class="card">
                                    <div class="card-horizontal">
                                        <div class="img-square-wrapper">

                                            <img class="" src="assets/images/Placehold.png" alt="" style="width: 320px;">
                                        </div>
                                        <div class="card-body p-5">
                                            <p style="text-align: center;">
                                                <img class="" src="assets/images/quote.jpg" alt="" style="width: 50px;    position: relative;
                                      margin: 0 auto;"></p>
                                            <p class="card-text-testi">
                                                GreenCard is just amazing, I don’t stress to search where to get anything, I know where a good hotel is and the best price when I travel for business to other towns.
                                            </p>
                                            <div class="text-center">
                                                <p class="para1" style="font-weight: bold;;">Mercy</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>