<div class="container-fluid" style="background-color: #cfe3d7;">
    
        <div class="container">
             <div class="row">

            <div class="col-6 px-0">
                <div class="default-padding">
                <h1 class="header1">Best discounts for
                    Goods & Services</h1>
                                <p class="para">You will get best discounts at our partner companies on all 
                    Goods & services with our card</p>
                    <button type="button"  class="btn btn-primary card-1-button">Buy Card Now</button>
            </div>
                </div>
            <div class="col-6 px-0">
                    <img src="assets/images/home1.jpg" alt="">
             </div>
             </div>
        </div>
    
    </div> 