<div class="d-md-flex h-md-100 align-items-center">

    <!-- First Half -->

    <div class="col-md-6 p-0 bg-indigo h-md-100">
        <div class="text-white d-md-flex align-items-center
     h-100 text-center justify-content-center">
            <div class="logoarea">
                <img src="assets/images/loginscreen.jpg" class="img-fluid" alt="" />
            </div>
        </div>
    </div>

    <!-- Second Half -->

    <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
        <div class="d-md-flex align-items-center p-4 justify-content-center">
            <div class="container">
                <nav class="navbar navbar-expand-md">
                    <div class="d-flex flex-grow-1">

                        <a href="/" class="navbar-brand">
                            <img src="assets/images/logo-lite.png" alt="" width="100">
                        </a>

                    </div>
                    <div class="navbar-collapse collapse flex-shrink-1 flex-grow-0" id="navbar7">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/']">Go to Home</a>
                            </li>

                        </ul>
                    </div>

                </nav>
            </div>

        </div>
        <div class="container">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="">
                    <h1 class="header1">Register</h1>
                    <p class="para1">Enter your details to get started our journey together.</p>

                    <div class="default-padding">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="form-row m-0">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">First Name</label>
                                    <input type="text" class="form-control" id="inputEmail4" formControlName="firstName" placeholder="First Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Last Name</label>
                                    <input type="text" class="form-control" id="inputEmail4" formControlName="lastName" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-row m-0">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Phone</label>
                                    <input type="text" class="form-control" id="inputEmail4" formControlName="mobile" placeholder="Phone">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" formControlName="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-row m-0">
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Password</label>
                                    <input type="password" class="form-control" id="inputPassword4" formControlName="password" placeholder="Password">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Referral ID</label>
                                    <input type="text" class="form-control" id="inputPassword4" formControlName="referralId" placeholder="referral">
                                </div>
                                <!-- <div class="form-group col-md-6">
                                    <label for="inputPassword4">Confirm Password</label>
                                    <input type="password" class="form-control" id="inputPassword4"
                                        placeholder="Password">
                                </div> -->
                            </div>
                            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-lg btn-block">Continue</button>
                        </form>
                    </div>
                    
                </mat-tab>
                <mat-tab label="">
                    <h1 class="header1">Choose your card</h1>
                    <p class="para1">Choose the card that suits your needs</p>


                    <div class="default-padding">
                        <div class="container">
                            <div class="card">
                                <div class="card-body Upgradecardborder p-0">
                                    <div class="row m-0 p-0">
                                        <div class="col-4 px-0">
                                            <div class="upgrade1">
                                                <label class="radio-inline m-0">
                                                    <input type="radio" class="optradio" name="optradio" size="15">
                                                    <span class="u-title-sm">Local card</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 px-0">
                                            <div class="upgrade2">
                                                Shop in any of our authorized outlet
                                            </div>
                                        </div>
                                        <div class="col-2 px-0">
                                            <div class="upgrade3">
                                                1,800 XAF
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container pt-4">
                            <div class="card">
                                <div class="card-body Upgradecardborder p-0">
                                    <div class="row m-0 p-0">
                                        <div class="col-4 px-0">
                                            <div class="upgrade1">
                                                <label class="radio-inline m-0">
                                                    <input type="radio" class="optradio" name="optradio" size="15">
                                                    <span class="u-title-sm">Business Card </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 px-0">
                                            <div class="upgrade2">
                                                + Buy wholesale products
                                            </div>
                                        </div>
                                        <div class="col-2 px-0">
                                            <div class="upgrade3">
                                                2,500 XAF
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container pt-4">
                            <div class="card">
                                <div class="card-body Upgradecardborder p-0">
                                    <div class="row m-0 p-0">
                                        <div class="col-4 px-0">
                                            <div class="upgrade1">
                                                <label class="radio-inline m-0">
                                                    <input type="radio" class="optradio" name="optradio" size="15">
                                                    <span class="u-title-sm">Local Card </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 px-0">
                                            <div class="upgrade2">
                                                + Flight tickets & more
                                            </div>
                                        </div>
                                        <div class="col-2 px-0">
                                            <div class="upgrade3">
                                                3,500 XAF
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary btn-lg btn-block mt-4">Proceed to Payment</button>
                    </div>

                </mat-tab>
                <mat-tab label="">
                    <h1 class="header1">Payment Options</h1>
                    <p class="para1">You chose Business card 2,500 XAF, proceed with payment</p>
                    <div class="card">
                        <div class="card-body Upgradecardborderdark p-3">
                            <div class="carddropdown">Credit/Debit Card
                                <img src="assets/images/down-arrow.svg" class="float-right" alt="" width="15">
                            </div>
                            <div class="carddropdown pt-3">Netbanking
                                <img src="assets/images/down-arrow.svg" class="float-right" alt="" width="15">
                            </div>
                            <div class="carddropdown pt-3">UPI
                                <img src="assets/images/down-arrow.svg" class="float-right" alt="" width="15">
                            </div>
                            <div class="carddropdown pt-3">Wallets
                                <img src="assets/images/down-arrow.svg" class="float-right" alt="" width="15">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block mt-4">Complete Registration</button>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>